*,
*:before,
*:after{
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    -webkit-tap-highlight-color: transparent ;
}
body{
    height: 100vh;
    background: -o-linear-gradient(
        315deg,
        #61D954,
        #2EBF75
    );
    background: linear-gradient(
        135deg,
        #61D954,
        #2EBF75
    );
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.wrapper{
    width: 50%;
    height: 400px;
    min-width: 330px;
    position: absolute;
    -webkit-transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
            transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.container{
    background-color: #ffffff;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 40px 25px;
    border-radius: 5px;
    font-family: 'Poppins',sans-serif;
    -webkit-box-shadow: 25px 25px 30px rgba(0,0,0,0.15);
            box-shadow: 25px 25px 30px rgba(0,0,0,0.15);
}

input[type="range"]{
    width: 70%;
    height: 3.5px;
    -webkit-appearance: none;
    background-color: #dcdcdc;
    border-radius: 3px;
    outline: none;
}
input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    background-color: #1c1c1c;
    cursor: pointer;
    border-radius: 50%;
}
.row{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 40px;
}
.row span{
    font-weight: 500;  
}
#result{
    font-size: 30px;
    font-weight: 700;
    letter-spacing: 1px;
    text-align: center;
    color: #0be881;
}
#category{
    font-size: 18px;
    text-align: center;
    letter-spacing: 1px;
}
{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #ffffff;
    -webkit-box-shadow: 25px 25px 30px rgba(0,0,0,0.15);
            box-shadow: 25px 25px 30px rgba(0,0,0,0.15);
    font-family: 'Poppins',sans-serif;
    text-align: center;
    color: #1c1c1c;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
    letter-spacing: 0.5px;
    padding: 10px 0;
    border-radius: 5px;
}